<div class="contenedor-mayor">



    <div class="container-admin">



        <div class="titulos-novedades">
            <div class="">
                <h1>Listado de Novedades</h1>
            </div>
            <div class="nueva-novedad">
                <a href="/admin/novedades/agregar" class="btn btn-success">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Nuevo
                </a>
            </div>
        </div>

        <div class="tabla-contenedor">
            <div class="">
                <table class="table">
                    <thead>
                        <tr class="table-dark">
                            {{!-- <th scope="col">#</th> --}}
                            <th scope="col">Título</th>
                            <th scope="col">Subítulo</th>
                            {{!-- <th scope="col">Descripción</th> --}}
                            <th scope="col">Imagen</th>
                            <th scope="col" class="text-center"> Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each novedades}}
                        <tr>
                            {{!-- <th scope="row"> {{id}} </th> --}}
                            <td> {{titulo}} </td>
                            <td> {{subtitulo}} </td>
                            {{!-- <td> {{cuerpo}} </td> --}}
                            <td> {{{imagen}}} </td>
                            <td class="text-centrado">
                                <a href="/admin/novedades/modificar/{{id}}" class="btn btn-sm btn-secondary">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="/admin/novedades/eliminar/{{id}}" class="btn btn-sm btn-secondary">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <p class="text-end"> <a class="btn btn-danger boton-exit" href="/admin/login/logout"> Exit <i
                            class="fas fa-sign-out-alt"></i></a>  </p>
            </div>
        </div>



    </div>

</div>